:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: italic;
  line-height: 1.5;
  font-weight: 800;
  color-scheme: light dark;
  color: #000000; /* #242424 */
  background-color: rgba(255, 255, 255, 0.87); /* rgba(255, 255, 255, 0.87); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh; /* Ensure body takes up entire viewport height */
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: 700;
  float: left;
  color: #000000; /* #242424 */
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
